* {
  box-sizing: border-box;
}

.dark .resize-handle {
  flex: 0 0 2em;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  outline: none;
  background: linear-gradient(#222, #222) no-repeat center/4px 100%;
  /* transition: background-color 0.1s linear; */
}

.dark .resize-handle:hover,
.dark .resize-handle[data-resize-handle-active="keyboard"],
.dark .resize-handle[data-resize-handle-active="pointer"] {
  cursor: ew-resize;
  background: linear-gradient(#BBB, #BBB) no-repeat center/4px 100%;
}

body .light {
  color: rgba(0, 0, 0, .9)
}

.light .MuiFormLabel-root,
.light .MuiInputLabel-root,
.MuiInputLabel-formControl {
  color: rgba(0, 0, 0, .9)
}

.MuiSvgIcon-colorDisabled {
  color: rgba(255, 255, 255, .3) !important
}

.light .resize-handle {
  flex: 0 0 2em;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  outline: none;
  background: linear-gradient(#EEE, #EEE) no-repeat center/4px 100%;
  /* transition: background-color 0.1s linear; */
}

.light .resize-handle:hover,
.light .resize-handle[data-resize-handle-active="keyboard"],
.light .resize-handle[data-resize-handle-active="pointer"] {
  cursor: ew-resize;
  background: linear-gradient(#111, #111) no-repeat center/4px 100%;
}

@media (pointer: coarse) {
  .resize-handle {
    flex: 0 0 2em;
  }
}

.help {
  overflow: auto;
  width: 100%;
  height: 100vh;
  background-color: #03021f;
  color: #fff;
  padding: 0.5em 1em;
}

.help>* {
  padding: 0 1em;
}

.help .logo {
  margin-top: 0.5em;
  margin-right: 1em;
}

.help .MuiTypography-h1:first-of-type {
  min-height: 4em;
  margin: 0 0 1em 0;
  padding: 0;
  display: flex;
  font-size: 1.5em;
  width: 100%;
  align-items: center;
  justify-content: start;
}


.help-icon {
  vertical-align: middle;
}

.help .logo-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.help .logo-header {
  margin: 0 0 0 48px;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.help .logo-header .MuiTypography-h1 {
  font-size: 2em;
  height: auto;
}


.help .logo-header .MuiTypography-h1,
.help .logo-header .MuiTypography-h2,
.help .logo-header .MuiTypography-h3 {
  margin: 0;
  padding: 0;
  line-height: normal;
  height: auto;
  min-height: 0;
}


/* 

.help .MuiTypography-h1:first-of-type svg.help-icon {
  height: 1.5em;
  width: 1.5em;
} */


.help-toolbar {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.help-toolbar-start {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  justify-content: start;
  margin-left: 1em;
}

.help-toolbar-start .MuiIconButton-root:first-child {
  margin-left: 0;
}

.help-toolbar-end {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: end;
}

.help-toolbar.top {
  display: flex;
  flex-grow: 1;
  margin-right: 0;
  justify-content: start;
  align-self: start;
}

.help-toolbar button {
  font-size: 1em;
}

.MuiTypeography-h1 .help-icon {
  margin-right: 0.25em;
}

.MuiTypeography-h2 .help-icon {
  margin-left: 0.25em;
}


.help .MuiTypography-body1,
.help pre,
.help table {
  margin: 0 0 0.5rem 0;
  padding: 0;
}

.help .MuiTypography-h1 {
  margin: 1.0rem 0 1.0rem 0;
}

.help .MuiTypography-h2 {
  font-size: 1.3em;
}

.help .MuiTypography-h3 {
  font-size: 1.15em;
}


.help .MuiTypography-h2,
.help .MuiTypography-h3 {
  margin: 1.0rem 0 0.5rem 0;
  padding: 0;
}

.help blockquote {
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.help blockquote .MuiTypography-root {
  display: block;
  align-items: center;
  background-color: #3a3886;
  padding: 1em;
  margin: 0;
}

.help img {
  position: relative;
  max-width: 80%;
  margin: 2em 0;
}

.help table {
  border-collapse: collapse;
}

.help table thead {
  border-bottom: 2px solid;
}

.help td,
.help th {
  padding: 0.5em;
}

.help-contents .MuiMenuItem-root {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

.help-contents .MuiListSubheader-root {
  font-size: inherit;
  font-weight: bold !important;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  line-height: normal;
}

.help-contents .child-menu {
  padding-left: 2em;
}


textarea,
pre,
.code input,
.ace_text-input,
.console {
  /* Make react-simple-code-editor work */
  word-break: break-all !important;
  font-family: "Roboto Mono", Monospace !important;
}

.tag {
  word-break: break-all !important;
  font-family: "Roboto Mono", Monospace !important;
  display: inline
}

.console {
  bottom: 0;
  overflow: auto;
}

pre.log {
  /* Make react-simple-code-editor work */
  word-break: break-word !important;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  white-space: normal;
  word-break: break-word;
  /* font-size: 0.9em; */
  /* line-height: 1.1; */
}


.navigation-narrow {
  top: 0;
  left: 0;
  width: 4em;
  padding: 12px;
  background-color: #202020;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navigation-menu-item div:nth-child(2) {
  margin-bottom: 0;
  display: inline-block;
  vertical-align: middle;
}

.MuiCollapse-root.MuiTreeItem-groupTransition {
  padding-left: 2em;
}

.MuiTreeItem-iconContainer {
  padding: 0.1rem 0.5rem 0.1rem 1.0em;
}

.nav-item {
  padding: 0.35em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-node-text {
  flex-grow: 1;
}

.nav-icon-box {
  flex-grow: 0;
  display: flex;
  justify-items: center;
  width: 2em;
}

.nav-icon-context {
  flex-grow: 0;
  display: flex;
  justify-items: center;
  padding: 0.1em;
}

.nav-toolbar {
  display: flex;

}

.nav-toolbar .MuiSvgIcon-root,
.nav-toolbar svg,
.nav-toolbar Button {
  font-size: 1.3em;
}

.nav-toolbar Button {
  padding: 8px;
  padding-inline: 8px;
  padding-block: 8px;
}

.nav-icon-box .MuiSvgIcon-root {
  display: flex;
  height: 100%;
  font-size: 1.2em
}

.nav-icon-context .MuiSvgIcon-root {
  display: flex;
  height: 100%;
}

.MuiTreeItem-root.selected>.MuiTreeItem-content {
  background-color: rgba(255, 255, 255, 0.2);
}

.navigation-tree {
  height: 100vh;
  flex-grow: 1;
  max-width: 50em;
  overflow-y: auto;
  padding-left: 1em !important;
}

.nav-selection-pane {
  flex-shrink: 0;
  bottom: 0;
  overflow: auto;
  margin-right: 0.1em;
}

.namevalue-col-btn {
  text-align: right;
}

.button-column {
  width: 3em;
}

.editor {
  flex-grow: 1;
  height: 100vh;
  display: flex !important;
  flex-direction: column;
  padding: 0 0 0 12px;
  margin: 0;
}

.editor.split {
  max-width: none;
  width: 100vw;
  height: 100vh;
  display: flex !important;
  flex-direction: column;
}

.editor-panel-header {
  display: flex;
  justify-content: space-between;
  max-width: 70em;
  flex-direction: row;
  align-items: center;
  min-height: 4em;
  margin: 0;
  padding: 0 1em;
}

.editor-title {
  display: flex;
  align-content: center;
}

.editor-title .icon {
  margin: auto 1em auto 0;
  position: relative;
  display: inline-flex;
  align-items: center;
}

.editor-title .text {
  display: inline-block;
  position: relative;
}

.editor-panel {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow: auto;
  margin: 0;
  max-width: 70em;
  padding: 3em 1em 1em 1em;
}

.editor-content {
  display: flex;
}

.editor-list {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow: auto;
  margin: 0;
  padding: 1em 1em 1em 1em;
}

.panels {
  /* padding: 0 1em 0 0; */
  max-width: 65em;
  margin-bottom: 1.5em;
}

.panels.full-width {
  max-width: None;
}

.split-left {
  margin-right: 12px;
  display: flex;
  flex-direction: column;
}

.split-right {
  margin-left: 12px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.editor-panel.full-width {
  max-width: none;
}

.split-left .editor-panel,
.split-left .editor-content {
  padding-right: 0;
}

.split-left .panels,
.split-right .panels {
  padding: 0;
  margin: 0;
}

.split-left .editor-panel-header {
  padding: 1em 0 1em 1em;
  margin: 0;
}

.split-right .editor-panel-header {
  padding: 1em 1em 1em 0;
  margin: 0;
}

.split-right .editor-panel,
.split-right .results-panel {
  padding-left: 0;
}

#results-viewer {
  display: flex;
  max-width: none
}

.log-panel {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow: none;
  margin: 0;
  padding: 0 0 0 12px;
}


.nav-selection-pane button {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.recent-file .filename {
  margin-right: 0.5em;
  display: inline-block;
}

.recent-file svg {
  margin-right: 0 !important;
}

.drop-down-menu .MuiPaper-root {
  opacity: 0.85 !important;
  margin-top: 1em;
}

.test-details {
  padding-left: 1.5em;
}

.diag.id {
  font-size: 0.8em;
}



.results-panel {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow: auto;
  margin: 0;
  padding: 3em 1em 1em 1em;
}

.results-info {
  font-size: inherit;
}

.results-test-section:first-child {
  margin-top: 0 !important;
}

.results-test-section {
  margin: 1rem 0rem 1.5rem 1.5em;
}

.results-test-name {
  font-weight: 600;
  font-size: inherit;
}

.results-test-timing {
  margin-top: 0.2em;
  font-size: 0.8em;
}

.results-test-timing>div:nth-child(2) {
  margin-top: 0.25em;
}

.test-result {
  padding: 0;
  line-height: 1;
  display: flex;
  padding: .2rem 0;
  display: flex;
  align-content: center;
}

.test-result-detail {
  display: flex;
  align-content: center;
}

.test-result-detail-info {
  margin: 0.2em 0;
}

.test-result-behavior {
  margin-top: 0.5em;
}

/* .test-result.behavior:not(:first-child) {
  margin-top: 0;
} */

.test-result-icon {
  width: 2.0em;
  display: flex;
  flex-flow: column;
  align-items: left;
  justify-content: center;
  flex-shrink: 0;
}

.test-result-error {
  margin: 0 !important;
  padding: 0 !important;
  line-height: 1 !important;
  margin-block: 0 !important;

  :first-letter {
    text-transform: 'capitalize';
  }
}

code.results-log {
  padding-top: 0;
  margin-top: 0.25em;
  filter: brightness(70%);
  font-size: 0.8em;
  line-height: 1.3em;
  white-space: pre-wrap;
}


/* .section {
  display: flex;
  flex-direction: column;
  max-width: 100%;

  border-left: 1px default;
  border-bottom: 1px default;
  border-right: 1px default;
  border-radius: 5px;
}

.section .childrenContainer {
  padding: 1em;
}

.section .header {
  display: flex;
  flex-direction: row;
  width: 100% !important;
}

.section .header .headerBorderBefore {
  border-top: 1px default;
  width: 1em;
  border-top-left-radius: 5px;
}

.section .header .headerTitle {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0.25em;
  width: fit-content;
  height: 2em;
  margin: -1em 0.5em 0em 0.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1em;
  font-weight: 600;
}

.section .header .headerBorderAfter {
  border-top: 1px default;
  width: 1em;
  flex-grow: 2;
  border-top-right-radius: 5px;
} */